<!DOCTYPE html>
<html lang="zh-TW">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>犯罪雷達</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">

    <!-- Custom fonts for this template-->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
</head>

<body id="page-top">
    <script>
        $(document).ready(function() {
            showChart();
        })

        function showChart() {
            var data = {
                "links": [{
                        "source": "王大明",
                        "target": "阿福",
                        "relation": "被害者",
                        "sourceColor": "#F4793B",
                        "targetColor": "red",
                        "sourceRadius": "70",
                        "targetRadius": "50",
                    },
                    {
                        "source": "王大明",
                        "target": "王小明",
                        "relation": "兄弟",
                        "sourceColor": "#F4793B",
                        "targetColor": "#0084ff",
                        "sourceRadius": "60",
                        "targetRadius": "50",
                    },
                ]
            };
            var options = {};
            options.backgroundColor = "#eee";
            options.nodesFontType = "SimHei";
            options.nodesFontSize = 30;
            options.lineFontType = "SimHei";
            options.lineFontSize = 24;
            options.lineColor = "#000000";
            options.showExamples = true;
            options.examplesX = 100;
            options.examplesY = 300;
            options.examplesFontColor = "#000000";
            drawChart("divid", options, data);
        }


        function drawChart(divid, options, datas, dataFilter) {
            var backgroundColor = options.backgroundColor; //背景颜色
            var nodesFontType = options.nodesFontType; //节点字体
            var nodesFontSize = options.nodesFontSize; //节点字号
            var lineFontType = options.lineFontType; //关系字体
            var lineFontSize = options.lineFontSize; //关系字号
            var lineColor = options.lineColor; //连线颜色
            var examplesFontColor = options.examplesFontColor; //关系示例字体颜色

            var width = 600; //画布宽
            var height = 400; //画布高
            var svgChart = d3.select("svg");
            svgChart.remove();

            var tip = $(".tooltip");
            if (tip.length > 0) {
                tip.remove();
            }

            var sourceDatas = {};
            sourceDatas.links = [];
            for (var i = 0; i < datas.links.length; i++) {
                var jsonObj = {};
                jsonObj.source = datas.links[i].source;
                jsonObj.target = datas.links[i].target;
                jsonObj.relation = datas.links[i].relation;
                jsonObj.sourceImg = datas.links[i].sourceImg;
                jsonObj.targetImg = datas.links[i].targetImg;
                jsonObj.sourceColor = datas.links[i].sourceColor;
                jsonObj.targetColor = datas.links[i].targetColor;
                jsonObj.sourceRadius = datas.links[i].sourceRadius;
                jsonObj.targetRadius = datas.links[i].targetRadius;
                jsonObj.lineColor = '#458B00';

                jsonObj.data = datas.links[i].data;
                sourceDatas.links.push(jsonObj);
            }
            var resourceLinks = sourceDatas.links;


            if (dataFilter != undefined && dataFilter.length > 0) {
                var indexArray = [];
                for (var i = 0; i < dataFilter.length; i++) {
                    for (var j = 0; j < resourceLinks.length; j++) {
                        if (resourceLinks[j].relation == dataFilter[i].relation && dataFilter[i].isShow == "false") {
                            indexArray.push(j);
                        }
                    }
                }
                if (indexArray.length > 0) {
                    var tempArray = [];
                    for (var j = 0; j < resourceLinks.length; j++) {
                        for (var i = 0; i < indexArray.length; i++) {
                            if (indexArray[i] != j) {
                                if (i == indexArray.length - 1) {
                                    tempArray.push(resourceLinks[j]);
                                    break;
                                }
                                continue;
                            } else {
                                break;
                            }

                        }
                    }
                    resourceLinks = tempArray;
                }
            }
            var links = resourceLinks;

            //关系分组  
            var linkGroup = {};
            //对连接线进行统计和分组，不区分连接线的方向，只要属于同两个实体，即认为是同一组  
            var linkmap = {};
            for (var i = 0; i < links.length; i++) {
                var key = links[i].source < links[i].target ? links[i].source + ':' + links[i].target : links[i]
                    .target + ':' + links[i].source;
                if (!linkmap.hasOwnProperty(key)) {
                    linkmap[key] = 0;
                }
                linkmap[key] += 1;
                if (!linkGroup.hasOwnProperty(key)) {
                    linkGroup[key] = [];
                }
                linkGroup[key].push(links[i]);
            }
            //为每一条连接线分配size属性，同时对每一组连接线进行编号  
            for (var i = 0; i < links.length; i++) {
                var key = links[i].source < links[i].target ? links[i].source + ':' + links[i].target : links[i]
                    .target + ':' + links[i].source;
                links[i].size = linkmap[key];
                //同一组的关系进行编号  
                var group = linkGroup[key];
                //给节点分配编号  
                setLinkNumber(group);
            }

            //节点
            var nodes = {};
            //关系对应颜色
            var relationColor = {};

            for (var i = 0; i < links.length; i++) {
                links[i].source = nodes[links[i].source] || (nodes[links[i].source] = {
                    name: links[i].source,
                    color: links[i].sourceColor,
                    image: links[i].sourceImg,
                    radius: links[i].sourceRadius
                });
                links[i].target = nodes[links[i].target] || (nodes[links[i].target] = {
                    name: links[i].target,
                    color: links[i].targetColor,
                    image: links[i].targetImg,
                    radius: links[i].targetRadius
                });
            }

            var sourceData = datas.links;
            for (var i = 0; i < sourceData.length; i++) {
                relationColor[sourceData[i].relation] = {
                    "relation": sourceData[i].relation,
                    "lineColor": sourceData[i].lineColor
                };
            }


            nodes = d3.values(nodes);
            relationColor = d3.values(relationColor);

            var examples_x = parseFloat(options.examplesX); //关系示例坐标x
            var examples_y = parseFloat(options.examplesY); //关系示例坐标y
            var examplesLength = 80;
            var examplesSize = Math.floor((width - examples_x) / examplesLength);
            var examplesRow = relationColor.length % examplesSize == 0 ? relationColor.length / examplesSize : Math
                .ceil(relationColor.length / examplesSize);
            //计算关系示列位置
            for (var i = 1; i <= relationColor.length; i++) {
                var num = i % examplesSize == 0 ? examplesSize : i % examplesSize;
                relationColor[i - 1].x = examples_x + (num - 1) * examplesLength;
                relationColor[i - 1].y = examples_y + 20 * Math.ceil(i / examplesSize);
            }
            if (dataFilter == undefined) {
                dataFilter = [];
                for (var i = 0; i < relationColor.length; i++) {
                    dataFilter.push({
                        "relation": relationColor[i].relation,
                        "isShow": "true"
                    });
                }
            }


            //绑定相连节点
            for (var i = 0; i < nodes.length; i++) {
                for (var j = 0; j < links.length; j++) {
                    if (nodes[i].name == links[j].source.name) {
                        nodes[i][links[j].target.name] = {
                            name: links[j].target.name
                        };
                    }
                    if (nodes[i].name == links[j].target.name) {
                        nodes[i][links[j].source.name] = {
                            name: links[j].source.name
                        };
                    }
                }
            }
            //D3力导向布局
            var force = d3.layout.force()
                .nodes(nodes)
                .links(links)
                .size([width, height])
                .linkDistance(200)
                .charge(-1500)
                .start();
            // 全图缩放器
            var zoom = d3.behavior.zoom()
                .scaleExtent([0.25, 2]);
            var svg = d3.select("#" + divid).append("svg")
                .attr("width", width)
                .attr("height", height)
                .attr("style", "background-color:" + backgroundColor)
                .call(zoom)
                .on('dblclick.zoom', null);
            // 缩放层（位置必须在 container 之前）
            var zoomOverlay = svg.append('rect')
                .attr('width', width)
                .attr('height', height)
                .style('fill', 'none')
                .style('pointer-events', 'all');
            var container = svg.append('g')
                .attr('transform', 'scale(' + 0.6 + ')')
                .attr('class', 'container');
            // 根据分类进行筛选
            if (options.showExamples) {
                var examples = svg.selectAll(".examples")
                    .data(relationColor)
                    .enter()
                    .append("svg:g")
                    .attr("fill-opacity", function(d) {
                        for (var i = 0; i < dataFilter.length; i++) {
                            if (d.relation == dataFilter[i].relation && dataFilter[i].isShow == "false") {
                                return 0.2;
                            }
                        }
                        return 1;
                    })
                    .on("click", function(d) {
                        for (var i = 0; i < dataFilter.length; i++) {
                            if (dataFilter[i].relation == d.relation) {
                                if (dataFilter[i].isShow == "true") {
                                    dataFilter[i].isShow = "false";
                                } else {
                                    dataFilter[i].isShow = "true";
                                }
                            }
                        }
                        drawChart(divid, options, datas, dataFilter);
                    });


                examples.append("svg:path")
                    .attr("d", function(d) {
                        var x1 = d.x;
                        var y1 = d.y;
                        var x2 = x1 + 20;
                        var y2 = y1;
                        return 'M' + x1 + ' ' + y1 + ' L ' + x2 + ' ' + y2;
                    })
                    .style("stroke", function(d) {
                        if (d.lineColor == "") {
                            return lineColor;
                        } else {
                            return d.lineColor;
                        }
                    })
                    .style("stroke-width", 2.5);

            }

            //设置连接线             
            var edges_path = container.selectAll(".edgepath")
                .data(links)
                .enter()
                .append("path")
                .attr("marker-end", function(d, i) {
                    var arrowMarker = container.append("marker")
                        .attr("id", "arrow" + i)
                        .attr("markerUnits", "userSpaceOnUse")
                        .attr("markerWidth", "16")
                        .attr("markerHeight", "15")
                        .attr("viewBox", "0 0 12 12")
                        .attr("refX", 9)
                        .attr("refY", 6)
                        .attr("orient", "auto")
                        .append("svg:path")
                        .attr("d", "M2,2 L10,6 L2,10 L6,6 L2,2")
                        .attr("fill", function() {
                            return d.lineColor = "" ? lineColor : d.lineColor;
                        });

                    return "url(#arrow" + i + ")";
                })
                .style("stroke", function(d) {
                    if (d.lineColor == "") {
                        return lineColor;
                    } else {
                        return d.lineColor;
                    }
                })
                .style("stroke-width", 1.5)
                .on("mouseout", function(d, i) {
                    //显示连线上的文字
                    edges_text.style("fill-opacity", 1);
                    edges_path.style("stroke-width", 1.5);
                    // 隐藏提示信息
                    tooltip.style("opacity", 0.0);
                });


            //边上的文字（人物之间的关系），连接线            
            var edges_text = container.selectAll(".linetext")
                .data(links)
                .enter()
                .append("svg:g")
                .attr("class", "linetext")
                .attr("fill-opacity", 1);
            edges_text.append("svg:text")
                .style("font-size", (22 + "px"))
                .style("font-family", lineFontType)
                .style("fill", "#000000")
                .attr("y", ".33em")
                .attr('text-anchor', "middle")
                .text(function(d) {
                    return d.relation;
                });

            edges_text.insert('rect', 'text')
                .attr('width', function(d) {
                    return d.relation.length * lineFontSize;
                })
                .attr('height', function(d) {
                    return lineFontSize;
                })
                .attr("y", "-.6em")
                .attr('x', function(d) {
                    return -d.relation.length * lineFontSize / 2;
                })
                .style('fill', 'none');

            var circle = container.selectAll("circle")
                .data(nodes)
                .enter()
                .append("circle")
                .style("stroke", function(d) {
                    return d.color;
                })
                .style("stroke-width", "3px")
                .attr("r", function(d) {
                    return d.radius;
                })
                .attr("fill", function(d, i) {
                    if (d.color == "") {
                        return "#EE8262";
                    }
                    return d.color;

                })
                .call(force.drag);

            var tooltip = d3.select("body").append("div")
                .attr("class", "tooltip")
                .attr("opacity", 0.0);

            var nodes_text = container.selectAll(".nodetext")
                .data(nodes)
                .enter()
                .append("text")
                .style("font-size", (nodesFontSize + "px"))
                .style("fill", "#ffffff")
                .style("font-family", nodesFontType)
                .attr('x', function(d) {
                    var name = d.name;
                    //如果小于四个字符，不换行
                    if (name.length < 4) {
                        d3.select(this).append('tspan')
                            .attr("dx", -nodesFontSize * (name.length / 2))
                            .attr("dy", 5)
                            .text(function() {
                                return name;
                            });
                    } else if (name.length >= 4 && name.length <= 6) {
                        var top = d.name.substring(0, 3);
                        var bot = d.name.substring(3, name.length);

                        d3.select(this).append('tspan')
                            .attr("dx", -nodesFontSize * 1.5)
                            .attr("dy", -nodesFontSize * 0.5)
                            .text(function() {
                                return top;
                            });

                        d3.select(this).append('tspan')
                            .attr("dx", -(nodesFontSize * name.length / 2))
                            .attr("dy", nodesFontSize)
                            .text(function() {
                                return bot;
                            });
                    } else if (name.length > 7) {
                        var top = d.name.substring(0, 3);
                        var mid = d.name.substring(3, 6);
                        var bot = d.name.substring(6, name.length);

                        d3.select(this).append('tspan')
                            .attr("dx", -nodesFontSize * 1.5)
                            .attr("dy", -nodesFontSize * 0.5)
                            .text(function() {
                                return top;
                            });


                        d3.select(this).append('tspan')
                            .attr("dx", -nodesFontSize * 3)
                            .attr("dy", nodesFontSize)
                            .text(function() {
                                return mid;
                            });

                        d3.select(this).append('tspan')
                            .attr("dx", -nodesFontSize * 2)
                            .attr("dy", nodesFontSize)
                            .text(function() {
                                return "...";
                            });
                    }
                })

                .on("mouseout", function(d, i) {
                    edges_text.style("fill-opacity", 1);
                    edges_path.style("opacity", 1);
                    circle.style("opacity", 1);
                    nodes_text.style("opacity", 1);
                    tooltip.style("opacity", 0.0);

                })
                .call(force.drag);

            force.on("tick", function() {
                edges_path.attr("d", function(d) {
                    var tan = Math.abs((d.target.y - d.source.y) / (d.target.x - d.source
                        .x)); //圆心连线tan值
                    var x1 = d.target.x - d.source.x > 0 ? Math.sqrt(d.sourceRadius * d.sourceRadius / (
                            tan * tan + 1)) + d.source.x :
                        d.source.x - Math.sqrt(d.sourceRadius * d.sourceRadius / (tan * tan +
                            1)); //起点x坐标
                    var y1 = d.target.y - d.source.y > 0 ? Math.sqrt(d.sourceRadius * d.sourceRadius *
                            tan * tan / (tan * tan + 1)) + d.source.y :
                        d.source.y - Math.sqrt(d.sourceRadius * d.sourceRadius * tan * tan / (tan *
                            tan + 1)); //起点y坐标
                    var x2 = d.target.x - d.source.x > 0 ? d.target.x - Math.sqrt(d.targetRadius * d
                            .targetRadius / (1 + tan * tan)) :
                        d.target.x + Math.sqrt(d.targetRadius * d.targetRadius / (1 + tan *
                            tan)); //终点x坐标
                    var y2 = d.target.y - d.source.y > 0 ? d.target.y - Math.sqrt(d.targetRadius * d
                            .targetRadius * tan * tan / (1 + tan * tan)) :
                        d.target.y + Math.sqrt(d.targetRadius * d.targetRadius * tan * tan / (1 + tan *
                            tan)); //终点y坐标
                    if (d.target.x - d.source.x == 0 || tan == 0) { //斜率无穷大的情况或为0时
                        y1 = d.target.y - d.source.y > 0 ? d.source.y + d.sourceRadius : d.source.y - d
                            .sourceRadius;
                        y2 = d.target.y - d.source.y > 0 ? d.target.y - d.targetRadius : d.target.y + d
                            .targetRadius;
                    }
                    // 防报错
                    if (!x1 || !y1 || !x2 || !y2) {
                        return
                    }
                    if (d.linknum == 0) { //设置编号为0的连接线为直线，其他连接线会均分在两边  
                        d.x_start = x1;
                        d.y_start = y1;
                        d.x_end = x2;
                        d.y_end = y2;
                        return 'M' + x1 + ' ' + y1 + ' L ' + x2 + ' ' + y2;
                    }
                    var a = d.sourceRadius > d.targetRadius ? d.targetRadius * d.linknum / 3 : d
                        .sourceRadius * d.linknum / 3;
                    var xm = d.target.x - d.source.x > 0 ? d.source.x + Math.sqrt((d.sourceRadius * d
                            .sourceRadius - a * a) / (1 + tan * tan)) :
                        d.source.x - Math.sqrt((d.sourceRadius * d.sourceRadius - a * a) / (1 + tan *
                            tan));
                    var ym = d.target.y - d.source.y > 0 ? d.source.y + Math.sqrt((d.sourceRadius * d
                            .sourceRadius - a * a) * tan * tan / (1 + tan * tan)) :
                        d.source.y - Math.sqrt((d.sourceRadius * d.sourceRadius - a * a) * tan * tan / (
                            1 + tan * tan));
                    var xn = d.target.x - d.source.x > 0 ? d.target.x - Math.sqrt((d.targetRadius * d
                            .targetRadius - a * a) / (1 + tan * tan)) :
                        d.target.x + Math.sqrt((d.targetRadius * d.targetRadius - a * a) / (1 + tan *
                            tan));
                    var yn = d.target.y - d.source.y > 0 ? d.target.y - Math.sqrt((d.targetRadius * d
                            .targetRadius - a * a) * tan * tan / (1 + tan * tan)) :
                        d.target.y + Math.sqrt((d.targetRadius * d.targetRadius - a * a) * tan * tan / (
                            1 + tan * tan));
                    if (d.target.x - d.source.x == 0 || tan == 0) { //斜率无穷大或为0时
                        ym = d.target.y - d.source.y > 0 ? d.source.y + Math.sqrt(d.sourceRadius * d
                            .sourceRadius - a * a) : d.source.y - Math.sqrt(d.sourceRadius * d
                            .sourceRadius - a * a);
                        yn = d.target.y - d.source.y > 0 ? d.target.y - Math.sqrt(d.targetRadius * d
                            .targetRadius - a * a) : d.target.y + Math.sqrt(d.targetRadius * d
                            .targetRadius - a * a);
                    }

                    var k = (x1 - x2) / (y2 - y1); //连线垂线的斜率
                    var dx = Math.sqrt(a * a / (1 + k * k)); //相对垂点x轴距离
                    var dy = Math.sqrt(a * a * k * k / (1 + k * k)); //相对垂点y轴距离
                    if ((y2 - y1) == 0) {
                        dx = 0;
                        dy = Math.sqrt(a * a);
                    }
                    if (a > 0) {
                        var xs = k > 0 ? xm - dx : xm + dx;
                        var ys = ym - dy;
                        var xt = k > 0 ? xn - dx : xn + dx;
                        var yt = yn - dy;
                    } else {
                        var xs = k > 0 ? xm + dx : xm - dx;
                        var ys = ym + dy;
                        var xt = k > 0 ? xn + dx : xn - dx;
                        var yt = yn + dy;
                    }
                    //记录连线起始和终止坐标，用于定位线上文字
                    d.x_start = xs;
                    d.y_start = ys;
                    d.x_end = xt;
                    d.y_end = yt;
                    return 'M' + xs + ' ' + ys + ' L ' + xt + ' ' + yt;
                });

                edges_text.attr("transform", function(d) {
                    if (!d.x_start || !d.y_start || !d.x_end || !d.y_end) {
                        return
                    }
                    return "translate(" + (d.x_start + d.x_end) / 2 + "," + ((+d.y_start) + (+d
                            .y_end)) / 2 +
                        ")" + " rotate(" + Math.atan((d.y_end - d.y_start) / (d.x_end - d.x_start)) *
                        180 / Math.PI + ")";
                });


                circle.attr("cx", function(d) {
                    return d.x
                });
                circle.attr("cy", function(d) {
                    return d.y
                });

                nodes_text.attr("x", function(d) {
                    return d.x
                });
                nodes_text.attr("y", function(d) {
                    return d.y
                });
            });
        }

        // 分配編號
        function setLinkNumber(group) {
            if (group.length == 0) return;
            if (group.length == 1) {
                group[0].linknum = 0;
                return;
            }
            var maxLinkNumber = group.length % 2 == 0 ? group.length / 2 : (group.length - 1) / 2;
            if (group.length % 2 == 0) {
                var startLinkNum = -maxLinkNumber + 0.5;
                for (var i = 0; i < group.length; i++) {
                    group[i].linknum = startLinkNum++;
                }
            } else {
                var startLinkNum = -maxLinkNumber;
                for (var i = 0; i < group.length; i++) {
                    group[i].linknum = startLinkNum++;
                }
            }

        }
    </script>

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">犯罪雷達 <sup>V1</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>首頁</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                主功能
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>找尋犯罪人</span>
                </a>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>犯罪圖</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">找尋犯罪人</h1>
                    </div>
                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div id="divid"></div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; 犯罪雷達</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../static/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="../static/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="../static/js/demo/chart-area-demo.js"></script>
    <script src="../static/js/demo/chart-pie-demo.js"></script>

</body>

</html>